PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=192.168.56.200
ServerActive=192.168.56.200
HostMetadata=Linux Servers
HostInterface={{ ansible_host }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf